.searchBar {
  margin: 20px 0;
  display: flex;
  justify-content: center;
}

.searchBar input {
  padding: 5px;
  font-size: 16px;
  letter-spacing: .1rem;
}

.searchBar button {
  padding: 5px 10px;
  margin-left: 10px;
  font-size: 16px;
  letter-spacing: .1rem;
  cursor: pointer;
}
