/* styles/Tags.module.css */
.tags {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* margin-top: 2rem; */
}

.tags button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  margin: 0.5rem;
  cursor: pointer;
  /* outline: solid; */
  background-color: white;
  color: black;
  border: solid;
  transition: background-color 0.3s ease;
  font-family: 'Khmer';
}

.tags button:hover {
  background-color: black;
  color: white;
}

.bookList {
  margin-top: 2rem;
}

.bookItem {
  border: 1px solid #ddd;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 5px;
  width: 100%;
  max-width: 500px;
}